@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/*
font-family: "Fraunces", serif;
font-family: "Montserrat", sans-serif;
*/
body{

    background-color: hsl(30, 38%, 92%);
    font-family: "Montserrat", sans-serif;
    font-size: 14px; /*cambia el tamaño de la letra*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
}
main{

    border:3px solid rgb(253, 253, 253);
    width: 650px;
    height: 400px;
    display:flex;
    border-radius: 14px;
    overflow: hidden;
}
.photo{
    border:1px solid rgb(253, 255, 253);
    width: 400px;
    background-image: url(/Dia01-github/images/image-product-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.contenido{
    border:5px solid rgb(248, 248, 248);
    width: 350px;
    background-color: hsl(0, 0%, 100%);
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.contenido h4{
    margin: 0px;
    text-transform: uppercase;
    font-weight: 500px;
    font-size: 14px;
    letter-spacing: 7px;
    color: hsl(228, 12%, 48%)
}
.contenido h1{
    margin: 0px;
    font-family: "Fraunces", serif;
    font-size: 42px;
    line-height: 1;
    color:hsl(212, 21%, 14%);
}
.contenido p{
    margin: 0px;
    font-weight: 500;
    line-height: 1.5;
    color:hsl(228, 12%, 48%);
    
}
.contenido span {
    font-family: "fraunces", serif;
    font-size: 32px;
    font-weight: 700;
    color: hsl(158, 36%, 37%);
}
.contenido div{
    display:flex;
    align-items: center;
    
}
.contenido s{
    
    color: hsl(228, 12%, 48%);
}
.contenido button{
    border: 0px;
    font-family: "montserrat", sans-serif;
    background-color: hsl(158, 36%, 37%);
    color:white;
    padding: 14px;
    display: flex;
    justify-content: center;
    gap: 7px;
    cursor: pointer;
    border-radius: 7px;
}
